/*src/app/expense-list.component.less*/
.add-expense-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    left: 90%;
    top: 80%;

}

.add-expense-button i {
    font-size: 20px;
}

.expense-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

    z-index: 10;


}

.expense-form form {
    display: flex;
    flex-direction: column;
}

.expense-form label {
    margin-bottom: 10px;
}

.expense-form input {
    margin-left: 10px;
}